{
  "branches": [
    "master",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "tagFormat": "v${version}"
}
